if theme.Open_Graph_meta.enable
  -
    const coverVal = page.cover_type === 'img' ? page.cover : theme.avatar.img
    let ogOption = Object.assign({
      type: globalPageType === 'post' ? 'article' : 'website',
      image: coverVal ? full_url_for(coverVal) : '',
    }, theme.Open_Graph_meta.option)
  -
  != open_graph(ogOption)
else
  - const description = page.description || page.content || page.title || config.description
  if description
    meta(name="description" content=truncate(description, 150))

