hr.custom-hr
#post-comment
  .comment-head
    .comment-headline
      i.fas.fa-comments.fa-fw
      span= ' ' + _p('comment')
    if theme.comments.text
      span.comment-provider Giscus

  .comment-wrap
    #giscus-wrap
