#post-comment
  .comment-head
    margin-bottom: 20px

    &:after
      display: block
      clear: both
      content: ''

    .comment-headline
      display: inline-block
      vertical-align: middle
      font-weight: 700
      font-size: 1.43em

    .comment-provider
      float: right
      margin: 2px auto 0
      padding: 4px 16px
      border-radius: 8px
      background: $comment-provider-bg
      color: $comment-provider-text

  .comment-wrap
    > div
      animation: tabshow .5s
